<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
    <h1>Quantity Update</h1>
    <form action="#" th:action="@{/products/edit/{id}(id=${product.getId()})}" th:object="${product}" method="post">
        <div>Id
            <input type="text" th:field="*{id}">
        </div>
        <div>Quantity
            <input type="text" th:field="*{quantity}" id="fullName">
        </div>
        <div>
            <input type="submit" value="Supmit">
            <input type="reset" value="Reset">
        </div>
    </form>
</body>
</html>